* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  background-color: #5eb15e;
  color: antiquewhite;
  width: 100px;
  border: none;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  font-size: large;
  margin: 10px;
}

.btn:hover {
  background-color: aquamarine;
}

.para {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.mark {
  background-color: #5eb15e;
  border-radius: 5px;
  color: white;
}

.sectionBtn {
  display: flex;
}
